@charset "UTF-8";

*{
	padding:0;
	margin:0;
}

.menuBar{
	padding-left: 300px;
	height: 100px;
	width: 100%;
	text-align: center;
	border: 1px solid #ddd;
	
}

.menu-body{	
	display: flex;
	list-style: none;
}

.menu-body li{	
	justify-content: space-between;
}

.menu-body li a{	
	text-decoration: none;
}

